.menu-item {
  width: 260px;
  text-align: center;
  font-size: 1.2vw;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
}

@media screen and (max-width: 1440px) {
  .menu-item {
    margin-left: 10px;
    font-size: 25px;
  }
};

@media screen and (max-width: 1024px) {
  .menu-item {
    margin-left: 10px;
    font-size: 23px;
  }
};

@media screen and (max-width: 768px) {
  .menu-item {
    margin-left: 10px;
    font-size: 20px;
  }
};

@media screen and (max-width: 500px) {
  .menu-item {
    margin-left: 10px;
    font-size: 16px;
  }
}